#choropleth-map {
  position: absolute;
  top: 15vh;
  left: 10vw;
  width: 80vw;
  height: 80vh;
  z-index: -1;
}

.map-radio {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.map-radio label {
  color: #36454f;
}
