#choropleth-map {
  position: absolute;
  top: 15vh;
  left: 10vw;
  width: 80vw;
  height: 80vh;
  z-index: -1;
  border: 5px solid #C7D8C6;
  border-radius: 5px;
}

#info-div {
  position: relative;
  height: 40%;
  width: 35%; 
  left: 65%;
  z-index: 1;
  background: white;
}

