#choropleth-map {
  position: absolute;
  top: 15vh;
  left: 10vw;
  width: 80vw;
  height: 80vh;
  z-index: -1;
  border: 5px solid #C7D8C6;
  border-radius: 5px;
}

#info-div {
  position: relative;
  height: 40%;
  width: 35%;
  left: 65%;
  z-index: 1;
  background: white;
}

#legend-div-search {
  position: relative;
  height: 35%;
  width: 3%;
  z-index: 1;
  background: linear-gradient(to bottom, #fef0d9, #fdd49e, #fdbb84, #fc8d59,#e34a33, #b30000);
}
