.heatmap-radio {
  width: 74vw;
  height: 7vh;
  position: fixed;
  top: 8vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.heatmap-radio div {
  display: flex;
  height: 100%;
  width: 18vw;
  margin: 0;
  margin-left: -3px;
  border: 2px solid #1C2429;
  border-radius: 8px 8px 0 0;
  background-color: #36454f;
  border-bottom: none;
}

.heatmap-radio div:hover {
  background-color: #40525E;
}

.heatmap-radio label {
  margin-left: 8px;
  color: #CCCBC6;
}

.heatmap-radio input {
  visibility: hidden;
}
