/* Color Palette
Grey Blue: #A9B7C0
Minty: #C7D8C6
Light: #EFD9C1
Powder: #CCCBC6
Charcoal: #36454f
*/

body {
  background-color: #A9B7C0;
  background-size: cover;
  color: #CCCBC6;
}

.secondBody {
  background-image: url('https://images.pexels.com/photos/700974/pexels-photo-700974.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

.App {
  opacity: 1;
}
