/* Color Palette
Grey Blue: #A9B7C0
Minty: #C7D8C6
Light: #EFD9C1
Powder: #CCCBC6
Charcoal: #36454f
*/

body {
  font-family: 'K2D', sans-serif;
}

.secondBody {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  opacity: 0.9;
  z-index: -1;
}

.App {
  opacity: 1;
}
