.map-init {
  position: absolute;
  top: 25vh;
  left: 17vw;
  width: 64vw;
  height: 55vh;
  z-index: 1;
  border-radius: 1vw;
}

.map-move {
  animation: mapMove 1s ease 0s 1 normal both;
}

@keyframes mapMove {
  0% {
    top: 35vh;
    left: 17vw;
    width: 64vw;
    height: 50vh;
  }
  100% {
    top: 0;
    left: 0;
    height: 80vh;
    width: 40vw;
  }
}
