.map-init {
  position: absolute;
  top: 40vh;
  left: 17vw;
  width: 64vw;
  height: 50vh;
  z-index: -1;
  border: 5px solid #C7D8C6;
  border-radius: 1vw;
}

.map-move {
  animation: mapMove 1s ease 0s 1 normal both;
}

@keyframes mapMove {
  100% {
    top: 0;
    left: 0;
    height: 85vh;
    width: 50vw;
    box-shadow: 0 0 10vh 5vh rgba(255, 255, 255, 0.3);
  }
}
