.navbar  {
  height: 10vh;
  margin-top:1vh;
  animation: navbarScrollDown .5s ease-in 0s 1 normal both;
  width: 100vw;
}

.navbar-links {
  color: rgb(220, 220, 220);
  height: 10vh;
  width: 50vw;
  font-size: 1.7em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar-search {
  opacity: 1;
  width: 45vw;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.navbar #searchBox {
  width: 30vw;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9);
}

.navbar-search-button {
  width: 10vw;
  color: rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 255, 255, 0.9);
  background-color: rgba(17, 17, 17, 0.9);
}

.navbar-links .navbar-link:hover {
  cursor: pointer;
}

.navbar-links .navbar-link:after {
	content: '';
	display: block;
	margin: auto;
	height: 2px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}

.navbar-links .navbar-link:hover:after {
	width: 100%;
	background: rgb(220, 220, 220);
}

.modal-body ul {
  list-style: none;
  padding-left: 0;
}

.navbar .btn-outline-secondary {
<<<<<<< HEAD
  border-color: rgba(255, 255, 255, 0.9);
  color: rgba(255, 255, 255, 0.9);
=======
  border-color: rgb(220, 220, 220);
  color: rgb(220, 220, 220);
>>>>>>> 17c453d85d320b1e4ba02289a34a95e31ebbfd2c
  transition: background-color .5s, color .5s;
}

.navbar .btn-outline-secondary:hover {
<<<<<<< HEAD
  background-color: rgba(255, 255, 255, 0.9);
  color: rgba(17, 17, 17, 0.9);
=======
  background-color: rgb(220, 220, 220);
  color: #111;
>>>>>>> 17c453d85d320b1e4ba02289a34a95e31ebbfd2c
}

@keyframes navbarScrollDown {
  from {
    height: 0;
    top: -5vh;
  }
  to {
    top: 0;
    height: 7vh;
  }
}
