.navbar-default  {
  display: flex;
  height: 10vh;
  animation: navbarScrollDown .5s ease-in 0s 1 normal both;
}

.navbar-links {
  color: #fff;
  display: flex;
  height: 10vh;
  width: 50vw;
  align-items: center;
}


.navbar-links a {
  margin: 5vw;
}

.navbar-search {
  opacity: 1;
  max-width: 50vw;
  justify-content: center;
}

.navbar-search #searchBox {
  width: 40vw;
  border-radius: 5px;
  border: 1px solid #C7D8C6;
}

.btn-outline-secondary {
  color: #fff;
  border-color: #fff;
}

@keyframes navbarScrollDown {
  from {
    height: 0;
    top: -5vh;
  }
  to {
    top: 0;
    height: 7vh;
  }
}
