.property-list {
  border-radius: 1vw;
  height: 80vh;
  width: 55vw;
  top: 10vh;
  overflow: scroll;
}

 .to-choropleth {
   position: relative; left: 50%;
   transform: translateX(-50%);
   z-index: 1;
   cursor: pointer;
   direction: ltr;
   text-align: center;
   background-color: #fff;
   font-weight: 500;
   border: 0px;
   border-radius: 2%;
 }

 .to-choropleth:hover {
   background-color: #eee;
 }

 .property-list>button {
   width: 100%;
   background-color: rgb(204, 194, 194);
   color: rgb(32, 23, 23);
   border-radius: 1vw;
   line-height: 2em;
 }

@keyframes propertySlide {
  0% {
    left: 100vw;
  }
  100% {
    left: 0;
  }
}

.hidden{
  display: none;
  width: 200px;
}

.show{
  display: block;
}
