.property-list {
  border: 5px solid #C7D8C6;
  border-radius: 1vw;
  height: 85vh;
  width: 50vw;
  top: 10vh;
  overflow: scroll;
  animation: propertyListSlideOut 1s ease 0s 1 normal both;
}

.neighbor-info:hover {
  box-shadow: -1vh 1vh 1vh rgba(0, 0, 0, 0.5);
}

.neighbor-info {
  background: #6B6D99;
  color: #FFC38D;
  text-shadow: 1px 1px 2px #CC5E29;
  width: 50vw;
  animation: propertySlide 2s ease 0s 1 normal both;
 }

 .to-choropleth {
   position: relative; left: 50%;
   transform: translateX(-50%);
   z-index: 1;
   cursor: pointer;
   direction: ltr;
   text-align: center;
   background-color: #fff;
   padding: 10px;
   font-weight: 500;
   border: 0px;
   border-radius: 2%;
 }

 .to-choropleth:hover {
   background-color: #eee;
 }

@keyframes propertySlide {
  0% {
    left: 100vw;
  }
  100% {
    left: 0;
  }
}

@keyframes propertyListSlideOut {
  0% {
    left: 100vw;
  }
  100% {
    left: 100vw;
  }
}
