.neighbor-info, .cardbody, .card-header, .card table, .card thead, .card tr, .card th, .card tbody, .card td {
  margin: 0;
}

.neighbor-info {
  background: transparent;
  border-radius: 20px;
  margin: 0 2vh 2vh 2vh;
  height: 70vh;
  overflow: hidden;

  color: rgba(255, 255, 255, 0.9);
  animation: propertySlide 2s ease 0s 1 normal both;
 }

 .card-body {
  border-radius: 5px;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: hidden;
}

.card-body .card-header {
  align-self: center;
  width: 40vw;
}
.card-body .card-header .fa-times {
  float: right;
}

.delete {
  position: absolute;
  top: 7%;
  left: 92%;
  font-size: 2em;
  vertical-align: center;
}

.delete:hover {
  cursor: pointer;
}

.card-body table {
  width: 40vw;
  table-layout: auto;
  font-size: 1.2em;
  height:15vw;
}

.card-body table tr:hover {
  background-color: rgb(204, 194, 194);
  color: rgb(32, 23, 23);
  transition: background-color .5s;
}


@keyframes propertySlide {
  0% {
    left: 100vw;
  }
  100% {
    left: 0;
  }
}
