.search {
  width : 70vw;
  position: absolute;
  left: 15vw;
  top: 20vh;
}

.search #searchBox {
    height: 15vh;
    font-size:12vh;
    max-width: 60vw;
}

.search .search-btn {
  font-size: 10vh;
  height: 15vh;
  width: 10vw;
  padding: 0 10px;
  margin: 0;
}

.search .fa-search {
  height:100%;
  width:100%;
  top:-5px;
  font-size: 10vh;
  vertical-align: middle;
}
